body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #fbf5ee !important; */
  /* background-color: #e2c9be;
background-image: linear-gradient(315deg, #f6e9c7 0%, #f4ebde 74%); */
background-color: #f1dfd1;
background-image: linear-gradient(315deg, #e7c68885 0%, #e0cfaa15 74%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "MontserratAlternates";
  src: local("MontserratAlternates"),
    url("./assets/fonts/Montserrat Alternates/MontserratAlternates-Regular.ttf")
      format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "MontserratAlternates";
  src: local("MontserratAlternates"),
    url("./assets/fonts/Montserrat Alternates/MontserratAlternates-Light.ttf")
      format("truetype");
  font-weight: lighter;
}

@font-face {
  font-family: "MontserratAlternates";
  src: local("MontserratAlternates"),
    url("./assets/fonts/Montserrat Alternates/MontserratAlternates-Bold.ttf")
      format("truetype");
  font-weight: bold;
}

* {
  font-family: "MontserratAlternates";
}
