.clients-div{
    height: 100%;
    min-height: 100vh;
}

.clients-title{
    margin-top: 50px;
    font-weight:bold;
    text-align: center;
}

.clients-list{
    width: 90%;
    max-width: 800px;
    margin-top: 25px;
    margin-left: auto !important;
    margin-right: auto !important;
}

.clients-list-element{
    width: 800px;
    height: 50px;
    border-radius: 10px;
    margin-top: 25px;
    margin-left: auto !important;
    margin-right: auto !important;
    display:flex;
    flex-direction: row;
}

.clients-list-element-div{
    width: 600px;
    height: 50px;
    border: 2px solid #f2c17d;
    border-radius: 10px;
}

.clients-list-element-p{
    height: 50px;
    padding-left: 10px;
    font-weight: bold;
    line-height: 50px;
}

.clients-list-element-button{
    height: 50px;
    width: 100px;
    background-color: #444438 !important;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    align-items:baseline;
    line-height: 35px;
}

.clients-add-div{
    width: 90%;
    max-width: 600px;
    margin-top: 25px;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: end;
}

.clients-add-button{
    width: 250px;
    height: 50px;
    background-color: #444438;
    margin-left: auto!important;
    margin-right: auto !important;
    text-align:center;
    align-items: baseline;
    line-height: 35px;
    font-size: 1.2rem !important;
    box-shadow: 0px 1px 10px #999;
}

.clients-add-button:hover,
.clients-add-button:active,
.clients-add-button:after,
.clients-add-button:focus{
    background-color: #f2c17d;
    color:#444438 !important;
}



.clients-span{
    color: #b0874f;
    /* margin-right: 50px; */
}

.clients-span-space{
    color: #b0874f;
    margin-left: 50px;
}

.clients-search-form{
    width: 90%;
    max-width: 800px;
    margin-top: 50px;
    margin-left: auto !important;
    margin-right: auto !important;
}

.clients-search{
    height: 50px;
    box-shadow: 0px 1px 10px #999;
}

.clients-search-button{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

@media screen and (max-width: 578px){
    .clients-div{
        height: 100%;
        min-height: 50vh;
    }

    .clients-list{
        max-width: 350px;
    }

    .clients-list-element{
        width: 100% !important;
        height: 300px;
        display:block;
    }

    .clients-list-element-div{
        width: 100% !important;
        height: 150px;
        border-radius: 0px !important;
    }

    .clients-list-element-button{
        width: 100% !important;
        height: 50px;
        border-radius: 0px !important;
        font-size: 1.5rem;
    }

    .clients-list-element-p{
        height: 50px;
        padding-left: 10px;
        font-weight: bold;
        line-height: 50px;
        display: flex !important;
        flex-direction: column !important;
        text-align: center !important;
    }

    .clients-span{
        color: #b0874f;
        margin-right: 0px;
    }
    
    .clients-span-space{
        color: #b0874f;
        margin-left: 0px;
    }
    
}
    